- @note.errors.full_messages.each do |msg|
  %p
    = msg

= form_for @note, url: notes_path, html: {multipart: true} do |form|
  = form.text_field :title, :class => 'form-control'
  = form.file_field :document, as: :file, :class => 'form-control'
  = form.submit :class => 'btn btn-primary'
