= form_for @note, url: notes_path, html: {multipart: true} do |form|
  = form.text_field :title
  = form.select :course_id, @courses.collect{|course| [course.title, course.id]}
  = form.file_field :document, as: :file
  = form.submit
