%li.list-group-item.item{:id => "course-#{course.id}"}
  .row
    .col-xs-12
      /.pull-left
      /  = link_to course, method: :delete, remote: true, :class => 'destroy-btn hidden hsp-md' do
      /    = fa_icon 'minus-circle'
      %span.name
        = course.title
      = form_for course, remote: true, :html => {:class => 'hidden', :id => "course-form-#{course.id}"} do |f|
        = f.text_field :title
