- content_for :title, @course.title

.container
  .toolbar-desktop
    .row
      .pull-left.text-left
        = link_to @course.department, :class => 'btn' do
          = fa_icon 'chevron-left'
          Back
      .pull-right.text-right
        = link_to destroy_user_session_path, method: :delete, :class => 'btn' do
          Log out
    .clearfix

  .row
    - @course.notes.each do |note|
      .col-sm-6.col-md-4
        .panel.panel-default
          .panel-heading
            .panel-title
              = note.title
          .panel-body
            = image_tag note.document.url(:large)

.add-btn-offset

.add-btn
  = link_to new_note_path(course: @course.id) do
    = image_tag '/images/add-btn.png', :class => 'img-circle'
