- @all_notes.each do |note|
  = note.title
%h2 Notes
%ul
  - @other_notes.each do |note|
    %li
      = link_to "#{note.title}", note
%h2 My Notes
%ul
  - @my_notes.each do |note|
    %li
      = link_to "#{note.title}", note
