!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SheffNotes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    #wrap.contianer
      %nav#main-nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
            %a.navbar-brand(href="#") Sheff Notes
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                %a(href="#")Home
              %li
                %a(href="#")Courses
            %ul.nav.navbar-nav.pull-right
              %li
                = button_to "Log Out", destroy_user_session_path, method: :delete

      = yield
