!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %title SheffNotes
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    %h1#titlebar
      %span
        = yield :title

    .container
      = yield
